<!-- 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Form in CSS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
body {
  background-color: #DBE8F9;
  font: 11px/24px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #5A698B;
}

#title {
  width: 330px;
  height: 26px;
  color: #5A698B;
  font: bold 11px/18px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-top: 5px;
  background: transparent url("images/bg_legend.gif") no-repeat;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

form {
  width: 335px;
}

.col1 {
  text-align: right;
  width: 135px;
  height: 31px;
  margin: 0;
  float: left;
  margin-right: 2px;
  background: url(images/bg_label.gif) no-repeat;
}

.col2 {
  width: 195px;
  height: 31px;
  display: block;
  float: left;
  margin: 0;
  background: url(images/bg_textfield.gif) no-repeat;
}

.col2comment {
  width: 195px;
  height: 98px;
  margin: 0;
  display: block;
  float: left;
  background: url(images/bg_textarea.gif) no-repeat;
}

.col1comment {
  text-align: right;
  width: 135px;
  height: 98px;
  float: left;
  display: block;
  margin-right: 2px;
  background: url(images/bg_label_comment.gif) no-repeat;
}

div.row {
  clear: both;
  width: 335px;
}

.submit {
  height: 29px;
  width: 330px;
  background: url(images/bg_submit.gif) no-repeat;
  padding-top: 5px;
  clear: both;
} 

.input {
  background-color: #fff;
  font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #5A698B;
  margin: 4px 0 5px 8px;
  padding: 1px;
  border: 1px solid #8595B2;
}

.textarea {
  border: 1px solid #8595B2;
  background-color: #fff;
  font: 11px/14px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #5A698B;
  margin: 4px 0 5px 8px;
}

</style>
</head>

<body>
  <form action="#" method="post">
    <div id="title">Add or Edit a menu item</div>
    <div class="row"><label class="col1">Title:&nbsp;&nbsp;</label>
      <span class="col2"><input name="Title" class="input" type="text" id="Title" size="30" tabindex="1"  /></span>
    </div>
    <div class="row"><label class="col1comment">Description:&nbsp;&nbsp;</label>
      <span class="col2comment"><textarea cols="" class="textarea" rows="5" name="Description" id="Description" tabindex="2" ></textarea></span>
    </div>
    <div class="row"><label class="col1">Price:&nbsp;&nbsp;</label>
      <span class="col2"><input name="Price" class="input" type="integer" id="Price" size="30" tabindex="3" /></span>
    </div>
    <div class="row"><label class="col1">Category:&nbsp;&nbsp;</label>
      <span class="col2"><input name="Category" class="input" type="integer" id="Category" value="" size="30" tabindex="4" /></span>
    </div>
    <div align="center">
      <button type="submit" id="submit-go"> Submit</button>
    </div>
  </form>
</body>
</html>

_______________________________________

 -->

<link rel="stylesheet" type="text/css" href="assets/stylesheets/screen.css">

<body>
  <h2>Add or edit a menu item</h2>
   <form action="">
    <p>Please complete the form below.  All fields are required.</p>
    </br>
    <fieldset class="item_info">
      <legend>Item Details</legend>
    <%= form_for @item do |f| %>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <div class="row">
        <p>
          <%= f.label :description %>
          <%= f.text_field :description %>
        </p>
      </div>
      <div class="row">
        <p>
          <%= f.label :price %>
          <%= f.text_field :price %>
        </p>
      </div>
      <div class="row">
        <p>
          <%= f.label :category %>
          <%= f.text_field :category %>
        </p>
      </div>
        </br>
      <div class="submit">  
        <p>
          <%= f.submit "submit" %>
        </p>
      </div> 
    <% end %>
